{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Quiz Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">

    <div class="logo">
        <span class="logo-icon">🎓</span>
        <div class="logo-text">
            <h2>Quiz Management</h2>
            <p>for Learning</p>
        </div>
    </div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>

        {% if not user.is_authenticated %}
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>

</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <p>Developed by Devika KS © 2026</p>
</footer>
 {% block scripts %}
    {% endblock %}
</body>
</html>