{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Quiz Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Quiz Management for Learning</h1>
</header>

<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <p>Developed by Devika KS © 2026</p>
</footer>

</body>
</html>