{% extends 'base.html' %}

{% block content %}
<div class="hero">
    <h2>Learn, Practice & Excel</h2>
    <p>
        Enhance your learning experience with interactive quizzes,
        instant evaluation, and detailed performance reports.
    </p>
</div>

<h2>Welcome to Quiz Management for Learning</h2>

<p>
Enhance your learning experience with interactive quizzes,
instant evaluation, and detailed performance reports.
</p>

<br>

<h3>Key Features</h3>

<ul>
    <li>👤 User Management</li>
    <li>📝 Quiz Creation & Management</li>
    <li>📚 Question Bank</li>
    <li>⏳ Timed Quiz Attempts</li>
    <li>✅ Automatic Evaluation</li>
    <li>📊 Reports & Analytics</li>
</ul>

{% endblock %}